.container-home {
    height: 100%;
    width: 100%;
    background: linear-gradient( #FED1AE, white);          
  }

.seta {
    color: #5C5B59;
    align-self: flex-start;
    margin: 50px;
  }

.seta img {
  height: 40px;
}

.home-pagina {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
  }

.home-textos {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
  }

.quem-somos-titulo {
    color: #ED3669;
    font-size: 1.8rem;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 22px;    
  }

.quem-somos-texto {
    color: #5C5B59;
    font-size: 1.4rem;  
    flex-direction: column;
    justify-content: center;
  }

.menina-falando {
    width: 100%;
  }

/** media queries */

@media (max-width: 750px) {  
  .home-pagina {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .home-textos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 12px;
  }

  .seta {
    display: none;
  }

  .quem-somos-titulo {
    font-size: 1.2rem;  
    text-align: center;
    margin-top: 18px
  }

  .quem-somos-texto {
    color: #5C5B59;
    font-size: 18px;
    text-align: center;
  }

  .quem-somos-texto p {
    margin: 10px;
  }

  .menina-falando {
    width: 50%;
  }

  .menina-falando img { 
    height: 300px;
  }
}