/** variaveis **/
:root {
  --container-gradient: linear-gradient(177deg, rgba(243,234,251,1) 9%, rgba(214,221,102,1) 80%);
}

.container-footer {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  background: rgb(243,234,251);
  background: var(--container-gradient);
  height: 100%;
  padding-top: 28px;
}

.container-footer-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 100%;
  padding: 28px;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer-title {
  text-align: center;
  color: #5C5B59;
  margin-bottom: 18px;
}

.seta-depoimento {
  width: 100%;
  text-align: right;
  padding-right: 30px;
  height: 80px;
  color: #5C5B59;
}

@media (max-width: 750px) {
  .seta-depoimento {
    padding: 0;
    text-align: center;
  }
}