.container-main {
  height: 100%;
  width: 100%;
}

/* area valores e imagem */
.valores-imagem {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.valores {
  display: flex;
  flex-direction: column;
  align-items: space-around;
}

.valores p {
  font-size: 2rem;
  margin: 50px;
}

.imagem {
  background-color: #8F8D8E;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-valores {
  height: 450px;
  width: 500px;
}

/* area descrição e o que tem a ganhar */
.descricao-ganhar {
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #D3CCCC;
  color: white;
}

hr {
  border: 1px solid white;
}

.descricao-processo, .a-ganhar {
  font-size: 3rem;
  margin-top: 4rem;
}