/** variaveis de estilos **/
:root {
  --title-color: #286F6B;
}

/** container da tela **/

.container-main {
  height: 100vh;
  width: 100%;
  background: rgb(206,245,224);
  background: linear-gradient(177deg, rgba(206,245,224,1) 42%, rgba(243,234,251,1) 82%);
}


/** como funciona div */

.main-como-funciona {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/** como funciona - lado esquerdo, da imagem da menina **/

.como-funciona {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.como-funciona p {
  text-align: center;
  margin-bottom: 20px;
  transform: scale(1.6);
  font-weight: bold;
  color:#494747;
}

.como-funciona h1 {
  text-align: center;
  color: var(--title-color);
}

.como-funciona img {
  margin-top: 10px;
}


/** como funciona - lado direito, como se tornar um doador **/

.como-funciona-doador {
  display: flex;
  height: 70vh;
  width: 55vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.doador p {
  font-size: 16px;
  color: #494747;
}

.doador-lista {
  color: #5C5B59;
}

.doador p:last-of-type {
  margin-top: 20px;
}

.doador-tutorial {
  margin: 50px;
  line-height: 30px;
  height: 100%;
}

.como-funciona-cadastrar-items__titulo {
  text-align: left;
  margin-bottom: 40px;
  color: #494747;
}

.como-funciona-cadastrar-items__descricao {
  text-align: left;
  margin-bottom: 40px;
  color: #7F7F7E;
}

.como-funciona-cadastrar-items span {
  color: #5C5B59;
}

/** media queries **/
@media only screen and (max-width: 750px) {
  .container-main {
    height: 100%;
    padding: 25px;
  }

  .main-como-funciona {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .main-como-funciona img {
    height: 300px;
  }

  .como-funciona-doador {
    height: 100%;
    width: 100%;
  }
}