.container-main {
  height: 100%;
  width: 100%;
}

/* area valores e imagem */
.valores-imagem {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.valores {
  display: flex;
  flex-direction: column;
  align-items: space-around;
}

.valores p {
  font-size: 2rem;
  margin: 50px;
}

.imagem {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-valores {
  height: 450px;
  width: 500px;
}

/* area descrição e o que tem a ganhar */
.descricao-ganhar {
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #D3CCCC;
  color: white;
}

hr {
  border: 1px solid white;
}

.descricao-processo, .a-ganhar {
  font-size: 3rem;
  margin-top: 4rem;
}

/** media queries **/

@media only screen and (max-width: 1024px) {
  .container-main {
    margin-top: 50px;
  }
  .valores-imagem {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }
  
  .valores {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .valores p {
    font-size: 1rem;
    margin: 12px;
  }

  .img-valores {
    height: 300px;
    width: 350px;
  }

  .descricao-ganhar {
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  .descricao-processo, .a-ganhar {
    font-size: 1.2rem;
    margin: 2rem;
  }
}