.card-depoimento {
  height: 350px;
  width: 350px;
  box-shadow: 1px 1px 10px rgb(83, 71, 90);
  display: flex;
  align-items: space-around;
  justify-content: center;
  padding: 10px;
  margin: 20px;
  border-radius: 25px;
  border: none;
}

.card-depoimento:hover {
  box-shadow: 1px 1px 10px black;
  border: 0.01px solid rgb(255, 255, 255);
  transition: all 0.4s;
}

.card-avatar__image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.card-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.card-items__profile {
  margin-top: 50px;
}