.card-depoimento {
  height: 350px;
  width: 350px;
  box-shadow: 1px 1px 10px rgb(83, 71, 90);
  background-color: #C4C4C4;
  display: flex;
  align-items: space-around;
  justify-content: center;
  padding: 10px;
  margin: 20px;
  border-radius: 15px;
  border: none;
  overflow: auto;
}

.card-depoimento:hover {
  box-shadow: 1px 1px 10px black;
  border: 0.01px solid rgb(255, 255, 255);
  transition: all 0.4s;
}

.card-avatar__image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.card-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.card-items__profile {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  line-height: 25px;
  
}

.card-items__profile h2 {
  text-align: center;
  margin-bottom: 25px;
  margin-top: -10px;
}