.quadro{
  display: inline-block;
}

.quadro-info {
  height: 350px;
  width: 300px;
  box-shadow: 1px 1px 15px rgb(83, 71, 90);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  border: none;
  overflow: hidden;
}

.quadro-info img {
  height: 100px;
  width: 100px;
}

.quadro-info:hover {
  box-shadow: 1px 1px 10px black;
  border: 0.01px solid rgb(255, 255, 255);
  transition: all 0.4s;
}

.quadro-itens {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.quadro-itens-texto {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  line-height: 20px;    
}

.quadro-itens-texto h2 {
  text-align: center;
  margin-bottom: 25px;
  margin-top: -10px;
}