.quadro{
  display: inline-block;
}

.quadro-info {
  height: 400px;
  width: 350px;
  box-shadow: 1px 1px 15px rgb(83, 71, 90);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  border: none;
  overflow: auto;
}

.quadro-info img {
  height: 120px;
  width: 120px;
}

.quadro-info:hover {
  box-shadow: 1px 1px 10px black;
  border: 0.01px solid rgb(255, 255, 255);
  transition: all 0.4s;
}

.quadro-itens {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.quadro-itens-texto {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  line-height: 20px;    
}

.quadro-itens-texto h2 {
  text-align: center;
  margin-bottom: 25px;
  margin-top: -10px;
}

/** media queries */
@media (max-width: 750px) {
  .quadro {
    display: flex;
  }

  .quadro-info {
    height: 350px;
    width: 100%;
    overflow: auto;
  }

  .quadro-itens {
    display: flex;
    height: 100%;
  }
  
  .quadro-info img {
    display: none;
  }
}