 /* aplicação de variaveis */
:root {
  --bg-color: #ccc;
  --btn-color: #56BBBF;
  --form-color: #F2F2F2;
  --gradient-light_green: linear-gradient(180deg, rgba(243,234,251,1) 40%, rgba(206,245,224,1) 80%);
}

/* containerda aplicação */
.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 90%;
  width: 100%;
  background: var(--gradient-light_green);
}

.logo {
  padding-left: 60px;
  background-color: rgba(243,234,251,1);
}

/* area do login */
.area-login {
  width: 350px;
}

.area-login p {
  font-size: 2rem;
  margin: 1.6rem 0;
}

a {
  text-decoration: none;
}

.area-login button {
  height: 50px;
  border: none;
  border-radius: 25px;
  width: 250px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--btn-color);
  color: white;
  font-size: 16px;
}

.area-login button:hover {
  background-color: rgba(86, 187, 191, 0.7);
  text-shadow: 1px 1px 1px black;
  transition: all 0.3s;
}

/* area do cadastro */
.form-cadastro {
  background-color: var(--form-color);
  display: flex;
  flex-direction: column;
  max-width: 500px;
  padding: 50px;
  border-radius: 25px;
  text-align: center;
  box-shadow: 1px 1px 10px rgb(56, 59, 61);
}

.form-cadastro input {
  padding: 10px;
  margin: 18px;
  border: none;
  border-bottom: 2px solid var(--bg-color);
}

.form-cadastro button {
  height: 50px;
  border: none;
  border-radius: 25px;
  width: 100%;
  font-weight: bold;
  background-color: #56BBBF;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 18px;
}

.form-cadastro button:hover {
  background-color: rgba(86, 187, 191, 0.7);
  text-shadow: 1px 1px 1px black;
  transition: all 0.3s;
}

.form-cadastro h3 {
  text-align: left;
  font-weight: normal;
}

/** media queries **/
@media (max-width: 750px) {
  .container {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
  }

  .logo {
    padding: 10px 0 20px 10px;
  }

  .imagem img {
    height: 300px;
  }

  .form-cadastro {
    height: 400px;
    width: 300px;
  }

  .form-cadastro input {
    padding: 8px;
    margin: 8px;
    border: none;
    border-bottom: 1px solid var(--bg-color);
  }

  .form-cadastro button {
    margin-top: 15px;
  }

  .area-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
  }

  .area-login p {
    font-size: 1.2rem;
    margin: 10px 0;
  }
}