/** area inteira do dashboard */

.container-dashboard {
  margin-top: 50px;
  height: 100vh;

  display: flex;
}

/** menu lateral - avatar, info do logado, botões, espaçamentos*/

.dashboard-sidenav {
  background-color: #ccc;
  height: 100vh;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.dashboard-sidenav__info button {
  height: 55px;
  width: 100%;
  border-radius: 5px;
  border: none;
  border-left: 2px solid #ddd;
  margin-top: 50px;
  font-weight: bold;
}

.dashboard-sidenav__info button:hover {
  background-color: #aaa;
  transition: all 0.3s;
}

.dashboard-logo {
  height: 170px;
  width: 170px;
  border-radius: 50%;
}

.buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.buttons button {
  height: 55px;
  width: 100%;
  border-radius: 5px;
  border: none;
  border-left: 2px solid #ddd;
  font-weight: bold;
}

.buttons button:hover {
  background-color: #aaa;
  transition: all 0.3s;
}

/** a area do dashboard */

.dashboard-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 15px;
}

/** area de cima do dashboard */
.dashboard-main_top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80vw;
}

.dashboard-main_top input {
  margin: 50px;
  height: 35px;
  width: 350px;
}

/** area aonde os cards são inseridos */
.dashboard-cards {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}