.menu-esquerdo{
    text-align: lef;
    background-color: lightgray;
    position: relative;
    display: inline-block;
    height: 1000px;
    width: 10%;
    
}

.menu-barra{
    margin-top: 20px;
}

.menu-logo{
    height: 100px;
    width: 100px;
    border-radius: 50%;    
}

.menu-icones li{
    list-style: none;
}

.menu-icones-cadastre{
    text-align: center;
    color:white;
    background-color: grey;
    width: 80%;
    padding: 20px;
    margin: 20px;
}

.menu-icones-home{
    text-align: center;
    color:white;
    background-color: grey;
    width: 80%;
    padding: 20px;
    margin: 20px;
}

.menu-icones-contato{
    text-align: center;
    color:white;
    background-color: grey;
    width: 80%;
    padding: 20px;
    margin: 20px;
}

.cabecalho{
    display:inline-block;
    width: 70%;
    text-align: center;
    position: absolute;   
}

.texto{
    display:inline-block;  
    padding: 20px  
}

.campo-pesquisa{
    display:inline-block;
    width: 100%;
    padding: 60px;
    position: relative;
    text-align: left;
}

.avatar-dashboard{
    text-align: right;
    display:inline-block;
    width: 87%;
    position: absolute;
}

.card-avatar__image {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

