.menu-esquerdo{
    text-align: lef;
    background-color: lightgray;
    position: relative;
    display: inline-block;
    height: 1000px;
    width: 10%;
    
}

.menu-barra{
    margin-top: 20px;
}

.menu-logo{
    height: 100px;
    width: 100px;
    border-radius: 50%;    
}

.menu-icones li{
    list-style: none;
}

.menu-icones-cadastre{
    text-align: center;
    color:white;
    background-color: grey;
    width: 80%;
    padding: 20px;
    margin: 20px;
}

.menu-icones-home{
    text-align: center;
    color:white;
    background-color: grey;
    width: 80%;
    padding: 20px;
    margin: 20px;
}

.menu-icones-contato{
    text-align: center;
    color:white;
    background-color: grey;
    width: 80%;
    padding: 20px;
    margin: 20px;
}

.cabecalho{
    display:inline-block;
    width: 70%;
    text-align: center;
    position: absolute;   
}

.texto{
    display:inline-block;  
    padding: 20px  
}

.campo-pesquisa{
    display:inline-block;
    width: 100%;
    padding: 60px;
    position: relative;
    text-align: left;
}

.avatar-dashboard{
    text-align: right;
    display:inline-block;
    width: 87%;
    position: absolute;
}

.card-avatar__image {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.quadro{
    display: inline-block; 
       
}

.quadro-info {
    height: 200px;
    width: 200px;
    box-shadow: 1px 1px 10px rgb(83, 71, 90);
    background-color: #C4C4C4;
    display: flex;
    align-items: space-around;
    justify-content: center;
    padding: 10px;
    margin: 20px;
    border-radius: 0px;
    border: none;
    overflow: auto;
  }
  
  .quadro-info:hover {
    box-shadow: 1px 1px 10px black;
    border: 0.01px solid rgb(255, 255, 255);
    transition: all 0.4s;
  }
   
  .quadro-itens {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .quadro-itens-texto {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    line-height: 20px;    
  }
  
  .quadro-itens-texto h2 {
    text-align: center;
    margin-bottom: 25px;
    margin-top: -10px;
  }