.container-footer {
  display: flex;
  flex-direction: column;
}

.container-footer-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer-title {
  text-align: center;
  margin: 50px auto;
}