.exterior-pagina{
    background-color: lightgray;
}

.exterior-logo{
    position: relative;
    left: 2%;
}

.interior-pagina{
    background-color: white;
    border-radius: 30px 30px 0px 0px;
    width: 80%;
    text-align: center;
    position: relative;
    left: 10%;
}

.titulo-principal{
    padding: 50px;    
}

.subtitulo-principal p{
    margin-top: 10px;
}

form {
	margin: 40px 0 0 10px;
    display: block;
    
}

.caixa{
    width: 95%;

}

label{
    position: relative;
    left: 10%;
    display: block;
    text-align: left;
}

input{
    border:none;    
}


.nao-esqueca, .nome, .escola, .serie, .email, .telefone {
    width: 80%;
    padding: 20px 0 20px 0;
    background-color: lightgrey;
}

.material{
    width: 80%;
    padding: 200px 0 200px 0;   
    background-color: lightgrey;
}

.botao{
    background-color: dimgray;
    color: white;
    padding: 10px 100px;
    border-radius: 20px;
    font-size: 20px;
    margin: 50px 0 50px 0px;
}
