.container-contato{
    height: 100vh;
    width: 100%;
    background: linear-gradient( #F8FB8A, white);    
}

.contato-pagina{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.contato-textos{
    display: flex;
    height: 90vh;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 350px;
}

.contato-perguntas-titulo {
    color: #5C5B59;
    font-size: 1rem;
    text-transform: uppercase;   
}

.contato-respostas-titulo{
    color: #C66D2C;
    font-size: 1.1rem;
    flex-direction: column;
    justify-content: center;    
}

.contato-endereco{
    color: #5C5B59;
    font-size: 1.3rem;  
    flex-direction: column;
    justify-content: center;
}

.menina-papel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40vw;  
}

@media (max-width: 750px) {
  .contato-pagina {
    display: flex; 
    flex-direction: column;
  }

  .contato-textos {
    margin: 20px;
    width: 100%;
    padding: 0;
    display: flex;
    align-items: space-between;
  }

  .contato-textos p {
    font-size: 16px;
    margin: 6px;
  }

  .pergunta-resposta {
    margin: 12px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .pergunta-resposta h1 {
    font-size: 28px;
  }

  .pergunta-resposta h3 {
    font-size: 16px;
  }

  .contato-endereco {
    display: flex;
    text-align: center;
  }

  .menina-papel {
    height: 100%;
  }

  .menina-papel img {
    height: 300px;
  }
}